.header{
    width: 100%;
    height: 11vh;
    background-color: rgba(0, 0, 0, 0);

    .header-logo{
        height: 74px;
        width: 74px;
    }
    .header-text{
        font-family: "helvetica world", helvetica, arial, sans-serif ;
        font-size: 30px;
        font-weight: bolder;
        color: var(--cream);
    }

    .header-menu{
        font-size: 15px;
        color: var(--cream);
    }
}
