.homepage-schedule-cards-wrapper {
    width: auto;
    .homepage-schedule-cards {
        max-width: 85%  ;
        border: 2px solid var(--cream);
        border-radius: 10px;
        margin: auto;
        padding: 20px 50px;
    }
}