.matchCard-wrapper{
    margin: 10px 2vw;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: var(--blue2);
    max-width: 40vh;
    box-shadow: 5px 5px rgba(0, 36, 57, 0.7)
;

    .matchCard-team-name {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1vh;

        .match-card-team-a, .match-card-team-b{
            display: inline-block;
            margin: 0 1vw;
            font-weight: bold;
            font-size: 20px;
            width: auto;
        }
    }

    .matchCard-team-score {
        .match-card-score-a, .match-card-score-b{
            display: inline-flex;
            flex-direction: column;
            margin: 0 5vw;
        }
    }
}